{{version}}<br/>
<button class="btn btn-default" (click)="AccessRsc1()">
    リソースサーバ#1にアクセス
</button>&nbsp;
<button class="btn btn-default" (click)="AccessRsc2()">
    リソースサーバ#2にアクセス
</button>&nbsp;
<button class="btn btn-default" (click)="Logout()">
    ログアウト
</button>&nbsp;
<br/>
<table border="1">
    <tr>
        <th>Item</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>HostName</td><td>{{HostName}}</td>
    </tr>
    <tr>
        <td>$UserName</td><td>{{UserName}}</td>
    </tr>
    <tr>
        <td>sub</td><td>{{sub}}</td>
    </tr>
    <tr>
        <td>exp</td><td>{{exp}}</td>
    </tr>
    <tr>
        <td>aud</td><td>{{aud}}</td>
    </tr>
    </table>
