<p>認証されました</p>
<button class="btn btn-default" (click)="AccessRsc1()">
    リソースサーバ#1にアクセス
</button>
<button class="btn btn-default" (click)="AccessRsc2()">
    リソースサーバ#2にアクセス
</button>
<button class="btn btn-default" (click)="RefreshToken()">
    アクセストークンの更新
</button>
<br/>

<table border="1">
    <tr>
        <th>HostName</th>
        <th>UserName</th>
        <th>sub</th>
        <th>aud</th>
        <th>Status</th>
        <th>TimeStamp</th>
    </tr>
    <tr>
        <td>{{HostName}}</td>
        <td>{{UserName}}</td>
        <td>{{sub}}</td>
        <td>{{aud}}</td>
        <td>{{Status}}</td>
        <td>{{TimeStamp}}</td>
    </tr>
</table>
