<p>display-info works!</p>
<button class="btn btn-default" (click)="AccessRsc1()">
    Access resource server #1
</button>
<button class="btn btn-default" (click)="AccessRsc2()">
    Access resource server #2
</button>
<button class="btn btn-default" (click)="RefreshToken()">
    Refresh Token
</button>
<br/>
<table border="1">
    <tr>
        <th>HostName</th>
        <th>UserName</th>
        <th>sub</th>
        <th>Status</th>
        <th>TimeStamp</th>
        <th>ResourceName</th>
    </tr>
    <tr>
        <td>{{HostName}}</td>
        <td>{{UserName}}</td>
        <td>{{sub}}</td>
        <td>{{Status}}</td>
        <td>{{TimeStamp}}</td>
        <td>{{ResourceName}}</td>
    </tr>
</table>
